@import "~bootstrap/scss/bootstrap";

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

#main {
  flex-grow: 1;
}
.navbar-dark {
  background-color: #512da8;
}
