@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";

body {
  padding: 3rem 0 0 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row-content {
  @include hor-centred-with-padds(2rem, 0);
  border-bottom: 1px ridge;
  min-height: 12rem;
}

#main {
  padding-top: 1rem;
  flex-grow: 1;
}
.navbar-dark {
  background-color: $background-dark;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 1rem;
}

.carousel {
  background: #512da8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
