@import "~bootstrap/scss/bootstrap";

body {
  padding: 3rem 0 0 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.row-content {
  margin: 0px auto;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px ridge;
  min-height: 12rem;
}

#main {
  padding-top: 1rem;
  flex-grow: 1;
}
.navbar-dark {
  background-color: #512da8;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
