$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

// Height variables
$carousel-item-height: 300px;

$btn-close-color: floralwhite;

@mixin hor-centred-with-padds($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}
